body {
    background-color: antiquewhite; 
}
p {
    color: brown;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}
h1{
    color: blueviolet;
    text-align: center; 
    padding-right: 10%;
    margin-top: 5%;
}

h2 {
    padding-left: 40%;
    display: grid;
    grid-template-columns:200px 4em 10%;
}

h3{
    color:black;
    font-family: "Imperial Script", cursive;
    padding-left: 39%;
    display: grid;
    grid-template-columns:200px 4em 10%; 
}

